@use '../Globals/helpers' as *;
@use '../Globals/Components/sidebars' as *;


.sidebar {
  &--map-point {
    right: 0;
    opacity: 1;
    z-index: 501;
  }

  @include respond-at(768) {
    margin-right: 24px;
    margin-left: unset;
  }
}