@use '../GlobalStyles/helpers' as *;
@use '../GlobalStyles/Components/sidebars' as *;
@use '../GlobalStyles/Components/close-icon' as *;


.sidebar.sidebar--map-point {
  $mobile-breakpoint: 578;
  z-index: 501;
  width: auto;

  a {
    color: var(--link-color);
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  .sidebar__bg {
    opacity: 1;

    @include respond-at(768) {
      opacity: .65;
    }
  }

  img {
    width: 220px;
    height: 220px;
    object-fit: cover;
  }

  .channel-content {
    display: flex;
    justify-content: center;

    &__top {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;

      @include respond-at($mobile-breakpoint) {
        flex-direction: row;
        align-items: center;
        gap: 40px;
      }
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;

      h4,
      h4~p {
        @include respond-at($mobile-breakpoint) {
          padding-left: 34px;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__heading {
      font-weight: 600;
      margin-top: 14px;
      margin-bottom: 0;
      font-size: 16px;
    }

    &__subheading {
      align-self: flex-start;
      margin-bottom: 0;
    }
  }

  @include respond-at(768) {
    margin-right: 0;
    margin-left: unset;
    left: unset;
    max-width: 500px;
  }
}

.menu-toggle:has(~ dialog.sidebar--map-point[open]) {
  @include respond-max(767) {
    display: none;
  }
}