# URL of the running backend API (see https://github.com/adrianahdez/world-interests-backend)
# .env file is only for development, and the .env.production file is used for production builds (e.g. Cloudflare Pages)
REACT_APP_BACKEND_API_URL=http://localhost:8080/
