@use '../helpers' as *;

// Styles for all HTML dialog elements
dialog {
  border: unset;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  overflow-y: clip;

  menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: calc($sidebar-title-height-mobile - 30px);
    right: rem(28);
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 0;
    z-index: 2;

    .toggle-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      color: var(--page-text-color);
      outline: none;
    }

    @include respond-at(768) {
      top: calc($sidebar-title-height-desktop - 42px);
    }
  }

  &::backdrop {
    opacity: 0.4;
    background: var(--black, black);
  }
}