@use '../helpers' as *;

dialog {
  border: unset;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  overflow-y: clip;

  menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: rem(24);
    right: rem(28);
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 0;
    z-index: 2;

    .toggle-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      color: white;
      outline: none;
    }
  }

  &::backdrop {
    opacity: 0.4;
    background: black;
  }
}