@use '../helpers' as *;
@use 'dialog' as *;

.sidebar {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--menu-margin-top);
  position: absolute;
  top: 0;
  z-index: 500;
  color: var(--page-text-color);
  margin-left: auto;
  margin-right: auto;
  letter-spacing: .7px;
  line-height: 1.7;
  /* Fallback if svh is not supported */
  max-height: calc(100vh - var(--footer-height) - var(--menu-margin-top) - var(--menu-margin-bottom));
  max-height: calc(100svh - var(--footer-height) - var(--menu-margin-top) - var(--menu-margin-bottom));
  height: auto;
  margin-bottom: var(--menu-margin-bottom);
  left: 24px;
  right: 24px;

  &__bg {
    background: var(--country-fill-color);
    opacity: .65;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 40px;

    @media screen and (max-width: 768px) {
      opacity: .7;
    }
  }

  a {
    color: var(--page-text-color);
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    max-height: inherit;
    overflow-y: auto;
    padding: 14px 30px 30px 30px;
    @include scroll(4px, 100%, transparent, var(--link-color), 0);
  }

  &__content {
    border-radius: 40px;
    height: 100%;
    padding-right: 8px;
    padding-bottom: 22px;
    height: 100%;
    max-height: inherit;
  }

  &__title {
    z-index: 1;
    position: relative;
    margin-block-end: 0;
    // font-size: 28px;
    font-size: 24px;
    padding: 0 70px 6px 30px;
    color: var(--white);
  }

  .close-icon {
    left: unset;
    top: -2px;
    right: -10px;
  }

  .active a {
    color: var(--link-color);
    font-weight: 600;
  }
}