html,
body {
  max-width: 100%;
  overflow-x: hidden
}

body,
h1,
h1 small {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.map-container,
#app,
.app-container {
  width: 100%;
}

.map-container,
#app {
  /* Fallback if svh is not supported */
  height: calc(100vh - var(--footer-height));
  height: calc(100svh - var(--footer-height));
}

#app,
.app-container {
  /* Fallback if svh is not supported */
  height: 100vh;
  height: 100svh;
}

.app-container {
  position: relative;
}

.map-container img {
  width: 100%;
  max-width: 100%
}

a,
a:focus,
a:hover {
  text-decoration: none
}

.leaflet-bottom {
  bottom: unset;
  top: 0;
}

.pageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Fallback if svh is not supported */
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-color: var(--page-bg);
  position: fixed;
  color: var(--page-text-color);
  font-size: 36px;
}