:root {
  --page-bg: rgb(26, 63, 73);
  --country-delimiter-color: #5f4e57;
  --country-fill-color: #16161d;
  --page-text-color: #ddcfcf;
  /* This is used to set the height of the map, so adjust based on the real footer height counting the vertical paddings, min-height, etc. */
  --footer-height: 108px;
  --link-color: #1fa2e1;
  --menu-margin-top: 70px;
  --menu-margin-bottom: 40px;
}

@media screen and (max-width: 604px) {
  :root {
    --footer-height: 123px;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden
}

body,
h1,
h1 small {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.map-container,
#app,
.app-container {
  width: 100%;
}

.map-container,
#app {
  /* Fallback if svh is not supported */
  height: calc(100vh - var(--footer-height));
  height: calc(100svh - var(--footer-height));
}

#app,
.app-container {
  /* Fallback if svh is not supported */
  height: 100vh;
  height: 100svh;
}

.app-container {
  position: relative;
}

.map-container img {
  width: 100%;
  max-width: 100%
}

a,
a:focus,
a:hover {
  text-decoration: none
}

.leaflet-bottom {
  bottom: unset;
  top: 0;
}

.pageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Fallback if svh is not supported */
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-color: var(--page-bg);
  position: fixed;
  color: var(--page-text-color);
  font-size: 36px;
}