footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}

footer .footer-content {
  background-color: var(--country-fill-color);
  color: var(--page-text-color);
  justify-content: center;
  min-height: var(--footer-height);
  padding: 14px 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0;
}

footer .what-is-this {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 9px;
  gap: 4px;
  margin-bottom: 8px;
}

footer .what-is-this .i1{
  font-size: 22px;
  line-height: 1.1;
  /* margin-bottom: 18px; */
}

footer .footer-content a {
  color: var(--link-color)
}

footer .developer {
  font-size: 9px;
}

@media (min-width: 768px) {
  footer .footer-content {
    gap: 8px;
  }

  footer .what-is-this {
    font-size: 12px;
  }
  
  footer .what-is-this .i1{
    font-size: 28px;
  }

  footer .developer {
    font-size: 12px;
  }
}